// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
:root {
    --rowNum: 50;
    --colNum: 6;
    --gridHeight: 50px;
  }
  
  body {
    min-height: 100vh;
    font-family: Calibri, Lucida Grande;
    margin: 0;
    overflow-x: hidden;
  }
  .wrapper {
    display: grid;
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-template-columns: repeat(var(--colNum), auto);
    gap: 5px;
  }
  .grid-item {
    grid-column-start: auto;
    grid-row-start: auto;
  }
 
  .controls {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background: rgba(40, 180, 200, 0.8);
    border: 2px solid black;
    border-radius: 40px/40px;
    
    a {
      color: white;
      text-decoration: none;
      margin: 0 10px;
      
      &:hover {
        color: black;
      }
    }
  }




  /* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}


/* Demo backgrounds and styling*/

.colour-1 {
  background: #483C46;
  color: #fff;
}

.colour-2 {
  background: #3C6E71;
}

.colour-3 {
  background: #70AE6E;
}

.colour-4 {
  background: #82204A;
}

.colour-5 {
  background: #558C8C;
}

.colour-6 {
  background: #917C78;
}

body {
  padding: 20px 0;
  font-family: Roboto, sans-serif;
}

.content h3 {
  margin-top: 0px;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  margin-bottom: 40px;
}