<div id="content" style="background-color:darkred;height:200px;width:1200px;float:center;">
    <%=@info%>
    <br>
    <br><br>
    <b>“Oh, hello there! I bet you’re wondering, why the red suit? Well, that’s so bad guys can’t see me bleed!”</b>
    <p>Feel free to search for anything you desire! And if it does not exist then create it!</p>
    <p>Use the menu to the left to navigate the site!</p>
</div>
<div id="content" style="background-color:darkred;height:200px;width:1200px;float:center;">
    <br><br>
    Number of words: <%=@words%>
</div>