<div class="column1">

<h4>Profile not created!</h4>
    
<p>Username or Password cannot be blank </p>

<h4>Create account</h4>

    <form action="/createaccount" method="post">
        Username:&nbsp;<input type="text" name="username"><br><br>
        Password:&nbsp;&nbsp;<input type="password" name="password"><br><br>
        <input type="submit" value="Create!">
    </form>
</div>
