<div class="column1">
<h4>Denied!</h4>
<br><br>
    <form action="/login" method="post">
        Username:&nbsp;<input type="text" name="username"><br><br>
        Password:&nbsp;&nbsp;<input type="Password" name="password"><br><br>
        <input type="submit" value="Login!">
</form>
</div>