<!DOCTYPE html>
<html>
<body>
<!--<header>
    <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <% if $credentials %>
        <% if $credentials[0] != '' %>
        <a href="/player2">Play Game</a>
        <b>Logged in as <%= $credentials[0] %></b>
        <a href="/logout">Logout</a>
        <% else %>
            <a href="/login">Login</a>
        <% end %>
    <% else %>
        <a href= "/login">Login</a>
    <% end %>   
      </nav> 
</header>   -->
</body>
</html>
