<div class="column1">
<form action = "/game" method = "get">
  Opponent Player:  <br> 
    <input type="text" name="opponent">
    <br>
     <br>
  <input type = "submit" value = "Click Me!" >
</form>
      </div> 
    <div class="column2">     
           <h1>Mineboats</h1>
        </div>
</div>
