<div class="column2">
<h4>Profile not created!</h4>
<p>Username already exists. Please try again using a different username.</p>
    <form action="/login" method="post">
        Username:&nbsp;<input type="text" name="username"><br><br>
        Password:&nbsp;&nbsp;<input type="Password" name="password"><br><br>
        <input type="submit" value="Login!">
</form>
</div>